:root {
  --background: #261c2c;
  --font-primary: whitesmoke;
  --form-bg: #3e2c41;
  --form-editing: #261c2c;
  --btn-new: #5c527f;
  --btn-complete: #6e85b2;
  --btn-delete: #b26eb2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background);
}

body {
  max-width: 100vw;
  height: 100vh;
}

main {
  margin: 0 auto;
  padding-top: 50px;
  width: 80vw;
  max-width: 500px;
  display: grid;
  color: var(--font-primary);
}

/* ////////////////////////
        COMMON
//////////////////////// */

p,
label {
  color: var(--font-primary);
  font-size: 1.1rem;
}

.btn {
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: 0.1s;
}
.btn:hover {
  opacity: 1;
}

/* ////////////////////////
     NEW ITEM SECTION
//////////////////////// */

.new-item-form {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--form-bg);
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
}

.new-item-text {
  outline: none;
  background-color: var(--form-bg);
  color: var(--font-primary);
  border: none;
  font-size: 1.2rem;
  padding: 0 0.5rem 0 0.5rem;
}

.new-item-btn {
  background-color: var(--btn-new);
  color: var(--form-bg);
}

/* ////////////////////////
    LIST CONTROL SECTION
//////////////////////// */

.list-control {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-content: center;
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
}
.list-control.hidden > * {
  display: none;
}

select {
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: var(--form-bg);
  color: var(--font-primary);
  border-radius: 5px;
}

.list-length {
  grid-column: 1 / 3;
  grid-row: 1;
  justify-self: center;
  /* align-self: center; */
}

.filter-items {
  grid-column: 3 / 10;
  grid-row: 1;
  justify-self: flex-end;
  /* align-self: center; */
  padding-right: 1rem;
}

.delete-items {
  grid-column: 10;
  grid-row: 1;
  justify-self: center;
  background-color: var(--btn-delete);
  border-radius: 5px;
}
.delete-items.inactive {
  opacity: 0.2;
  cursor: initial;
}

/* ////////////////////////
      LIST SECTION
//////////////////////// */

.list {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

.list-item {
  word-break: break-all;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  min-height: 2rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--form-bg);
}

.list-item .btn-complete {
  background-color: var(--btn-complete);
}
.list-item .btn-delete {
  background-color: var(--btn-delete);
}
.list-item .btn-edit {
  background-color: var(--btn-new);
}

.list-item-text {
  font-size: 1.2rem;
  padding: 0 0.5rem 0 0.5rem;
  transition: 0.2s ease;
}
.list-item-text.editing {
  background-color: var(--form-editing);
  outline: none;
}

.list-item.completed {
  opacity: 0.5;
}
.completed .list-item-text {
  text-decoration: line-through;
}
.completed .btn-complete {
  background-color: var(--form-bg);
}
.completed .btn-edit {
  cursor: initial;
}

.list-item .btn-edit,
.list-item .btn-delete {
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.list-item:hover .btn-edit,
.list-item:hover .btn-delete {
  opacity: 1;
  visibility: visible;
}
